.count div{
    padding: 20px;
}

video{
    height: 600px;
    width: 100%;
}

.quicklinks{
    font-size: 30px;
    color: black;
    padding: 2px;
    margin-bottom: 32px;
    border-bottom: 4px solid;
}

.quicklinks h1{
    width: 175px;
    text-align: center;
    background: black;
    color: white;
}

.links li{
    padding: 10px 20px;
    margin: 10px 80px;
    border: 2px solid gray;
}

.links li:hover{
    background: gray;
    color: white;
}

li{
    padding: 2px;
}

li:hover{
    color: blue;
}

input{
    border: 2px solid;
    margin: 2px 9px;
    padding: 3px;
    width: 300px;
}

button{
    background-color: rgb(66, 131, 236);
    color: white;
    border: 2px solid rgb(66, 131, 236);
    outline: none;
    padding: 3px 7px;
}

.numbers{
    color: white;
    background: linear-gradient(25deg, #301a83, #5e3066,#438e8b, #227425, #171f96);
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    margin-top: 40px;
}

.ab h1{
    font-size: 37px;
    margin-bottom: 7px;
}

.ab p{
    font-size: 20px;
}

.img-slider img{
    width: 3000px;
    height: 250px;
}

.ol{
    list-style-type: none;
    margin: 20px 0px;
}

.ol li{
    background: #880303;
    padding: 3px 11px;
    color: white;
    padding-bottom: 7px;
    margin: 5px 15px 5px 0px;
    cursor: pointer;
}

.ol li:hover{
    background-color: #a40404;
}

.depts{
    width: 89vw;
    overflow-x: auto;
    margin: 40px 0px;
    cursor:all-scroll;
    padding-bottom:20px ;
}

.depts::-webkit-scrollbar{
    height: 6px;
    background-color: rgb(199, 199, 199);
    margin: 10px 3px;
}

.depts::-webkit-scrollbar-thumb{
    background-color: rgb(65, 65, 65);
    position: absolute;
    width: 20px;
    height: 40px;
}

.depts .cols{
    margin: 4px 20px;
    width: 500px;
    box-shadow: 0 0 12px #000000c4;
}

.depts .cols:hover{
    box-shadow: 0 0 3px #00000094;
}

.cols h2{
    font-size: 15px;
    font-weight: 800;
    margin: 10px 0px;
    width: 300px;
}
.depts img{
    width: 350px;
    height: 170px;
}

.company{
    width: 400px;
    height: 200px;
    margin: 20px;
    background-color: turquoise;
}

.partners{
    margin: 35px 0px;
}

.partner{
    transform: rotate(30deg);
    margin: 0px 5px;;
}

.wid{
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}