.count div{
    padding: 20px;
}

.about{
    margin-top: 80px;
}

video{
    height: 600px;
    width: 100%;
}

.quicklinks{
    font-size: 30px;
    color: black;
    padding: 2px;
    margin-bottom: 70px;
    border-bottom: 4px solid;
}

.quicklinks h1{
    width: 187px;
    text-align: center;
    background: black;
    color: white;
    box-shadow: 0 0 5px black;
    padding: 5px;
    margin-bottom: 2px;
}

.links li{
    padding: 10px 20px;
    color: rgb(2, 4, 42);
    margin: 20px 100px;
    border: 3.5px solid rgb(2, 4, 42);
    box-shadow: 0 0 11px 0px #0000009e;
    cursor: pointer;
    border-radius: 0px 30px;
    font-size: 18px;
}

.links li:hover{
    background:rgb(2, 4, 42) ;
    color: white;
    box-shadow: none;
}

li{
    padding: 2px;
}

li:hover{
    color: blue;
}

input{
    border: 2px solid;
    margin: 2px 9px;
    padding: 3px;
    width: 300px;
}

button{
    background-color: rgb(66, 131, 236);
    color: white;
    border: 2px solid rgb(66, 131, 236);
    outline: none;
    padding: 3px 7px;
}

.numbers{
    font-size: 24px;
    font-weight: 600;
    margin: 50px 0px;
    color: #08095b;
    transform: translateY(10px);
    height: 300px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.count div{
    padding: 35px;
}

.ab h1{
    font-size: 37px;
    margin-bottom: 7px;
}

.ab p{
    font-size: 20px;
}

.img-slider img{
    width: 3395px;
    height: 400px;
}

.ol{
    list-style-type: none;
    margin: 20px 0px;
}

.ol li{
    background: linear-gradient(206deg, #52c5ff 0%, #061ea7db 100%);
    padding: 10px 11px;
    color: white;
    padding-bottom: 7px;
    margin: 5px 15px 5px 0px;
    cursor: pointer;
    box-shadow: 0 0 15px 0px #6b6c72de;
    border-radius: 4px;
}

.ol li:hover{
    background-color: #a40404;
    box-shadow: none;
}

.depts{
    width: 89vw;
    overflow-x: auto;
    margin: 40px 0px;
    cursor: pointer;
    padding-bottom:20px ;
}

.depts::-webkit-scrollbar{
    height: 6px;
    background-color: rgb(199 199 199 / 64%);
    margin: 10px 3px;
}

.depts::-webkit-scrollbar-thumb{
    border-radius: 30px;
    width: 20px;
    background: linear-gradient(139deg, #03a9f4, #071b8b);
}

.cols{
    margin: 4px 20px;
    width: 500px;
}

.parts .cols{
    box-shadow: 0px 0px 3px #0000007d;
    border-radius: 4px;
}

.depts .cols:hover{
    box-shadow: 0 0 3px #00000094;
}

.cols h2{
    font-size: 15px;
    font-weight: 800;
    margin: 10px 0px;
    width: 300px;
}
.depts img{
    width: 350px;
    height: 170px;
}

.company{
    margin: 20px;
    background-color: turquoise;
}

.company img{
    width: 500px;
    height: 200px;
}

.partners{
    margin: 35px 0px;
}

.partner{
    transform: rotate(30deg);
    margin: 0px 5px;;
}

.wid{
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

.grid{
    display: grid;
    grid-gap: 10px;
    column-count: 4;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.icons{
    animation: rotate 7s  linear infinite;
    cursor: pointer;
}


@keyframes rotate{
    from{
       transform: rotate(0deg);
    }
    to{
       transform: rotate(360deg);
    }
}

.testy{
    text-align: center;
    font-size: 28px;
    padding: 10px;
    color: black;
    text-decoration: underline;
}

.test{
    box-shadow: 0 0 2px #081a82, 0 0 10px #80808066;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(225deg, #24d3ff 0%, #00106b 100%);
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
}

.test .pic{
    position: relative;
    margin: 22px 0px;
    width: 70px;
    height: 70px;
    transform: translate(112px, 0px);
    border-radius: 50%;
    border-top: 4px solid;
    border-right: 2px solid;
    border-left: 2px solid;
}

.test h2{
    font-size: 20px;
    font-weight: 800;
    margin: 7px 0px 5px 0px;
    width: 300px;
    color: white;
}

.achieve{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
}

.achievers{
    position: absolute;
    background: red;
    z-index: 1;
    width: 300px;
}
