hr{
    background-color: rgb(206, 206, 206);
}

nav{
    position: sticky;
    top: 0px;
    z-index: 1;
}

.first_bar{
    padding: 20px 5px;
}
.first_bar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 15px;
}

.first_bar ul img{
    padding: 1px 2px;
    margin: 0px 2px;
    color: white;
    width: 90px;
    height: 80px;
    background: white;
    border-radius: 50%;
}

.titlebar{
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    background: #09146c;
    color: white;
    padding: 30px 0px;
    align-items: center;
}

.college_name{
    display: flex;
    align-items: center;
}

.navlinks ol li {
    padding: 2px 7px;
}


.logo {
    width: 100px;
}
.third-bar{
    position: sticky;
    top: 0px;
}
.third-bar ol li{
   position: sticky;
   padding: 5px 10px;
}

.searchbar{
    margin: 5px ;
    padding: 5px 0px;
}

.search{
    border-radius: 30px;
    box-shadow: 0px 0 3px 0px #00000059;
    outline: none;
}

.nav-content-1{
    position: absolute;
    background: gray;
    color: white;
    margin: 15px 0px;
    padding: 20px;
}

.nav-content-2{
    padding: 20px;
    margin: 20px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 0 12px 1px #505050;
    position: absolute;
}

.dropdown{
    width: 80px;
    padding: 6px 15px;
    border-radius: 5px;
    color: white;
    background: #3a6579;
    outline: none;
    height: 40px;
    text-align: center;
}

.dropdown-content{
    display: none;
    transform: translateY(20px);
    padding: 20px;
    width: 1000px;
    height: 300px;
    border-bottom: 6px solid yellow;
    background: black;
    margin: 6px;
    text-align: left;
    position: absolute;
    left: 0px;
}

.dropdow::before{

    background-color: yellow;

}

.dropdown::after{
   background-color: rebeccapurple;
}

.dropdown:hover  .dropdown-content{
    display: block;
}

.dropdown:focus  .dropdown-content{
    display: block;
}