hr{
    background-color: rgb(206, 206, 206);
}

.first_bar ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 15px;
}

.first_bar ul li{
    padding: 1px 2px;
    margin: 0px 2px;
    color: white;
}

.titlebar{
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    margin: 20px 20px;
    align-items: center;
}

.college_name{
    display: flex;
    align-items: center;
}

.navlinks ol li {
    padding: 2px 7px;
}


.logo {
    width: 100px;
}

.third-bar ol li{
   position: sticky;
   padding: 5px 10px;
}

.searchbar{
    margin: 5px ;
    padding: 5px 0px;
}

.search{
    border-radius: 30px;
    box-shadow: 0px 0 3px 0px #00000059;
    outline: none;
}

.nav-content-1{
    position: absolute;
    background: gray;
    color: white;
    margin: 15px 0px;
    padding: 20px;
}

.nav-content-2{
    padding: 20px;
    margin: 20px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 0 12px 1px #505050;
    position: absolute;
}
