.social li{
    font-size: 33px;
    border: 2px solid;
    padding: 7px;
    border-radius: 50%;
    margin: 10px;
}

.social li:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
}

.foot{
    background-color: #020119;
}

.loc{
    width: 283px;
    height: 130px;
    box-shadow: 0 0 3px white;
    border-radius: 10px;
}
